<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand text-white" href="{{path('app_home')}}">Vente De Voiture</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="{{path('app_home')}}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">A Propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{path('app_product')}}">Produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{path('app_cart')}}">Mon Panier</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Utilisateur
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if app.user %}
                <a class="dropdown-item" href="{{path('app_account')}}">Mon compte</a>
                <a class="dropdown-item" href="{{path('app_logout')}}">Deconnecter</a>
            {% else %}
            <a class="dropdown-item" href="{{path('app_register')}}">S'inscrire</a>
            <a class="dropdown-item" href="{{path('app_login')}}">Se connecter</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
    </div>
  </nav>