{% extends 'admin/base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<section class="commande-show">
    <div class="container">
        <h1>Commande</h1>

        <table class="table mb-4">
            <tbody>
                <tr>
                    <th>Identitfication</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td>
                        {{ order.client.firstName|upper }} {{order.client.lastName}} <br/>
                        {{order.client.email}}
                    </td>
                </tr>
                <tr>
                    <th>Transporteur</th>
                    <td>
                        {{ order.carrierName }} : {{order.carrierPrice}} €
                    </td>
                </tr>
                <tr>
                    <th>Adresse de livraison</th>
                    <td>{{ order.delivery|raw }}</td>
                </tr>
                <tr>
                    <th>Produits</th>
                    <td>
                        {% for orderDetail in order.orderDetails %}
                            <span class="fw-bold">Titre : </span> {{orderDetail.product}} <span class="fw-bold" style="margin-left: 20px;">Marque : </span> {{orderDetail.brand}}
                            <span class="fw-bold" style="margin-left: 20px;">Genre : </span> {{orderDetail.category}} <span class="fw-bold" style="margin-left: 20px;">Type : </span> {{orderDetail.type}}
                            <span class="fw-bold">Couleur : </span> {{orderDetail.color}}<span class="fw-bold" style="margin-left: 20px;">Quantité(s) : </span> {{orderDetail.quantity}} <span class="fw-bold" style="margin-left: 20px;">Prix : </span> {{orderDetail.price}} €
                            <span class="fw-bold" style="margin-left: 20px;">Total : </span> {{orderDetail.total}} € 
                             <br/>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12"></div>
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                {% set grandTotal = 0 %}
                {% for orderDetail in order.orderDetails %}
                    {% set grandTotal = grandTotal + orderDetail.total %}
                {% endfor %}
                <p class="bg-danger px-4 py-1 text-center text-white">Total à payer : {{grandTotal + order.carrierPrice}} € </p>
            </div>
        </div>
    
        <a href="{{ path('app_order_admin') }}" class="btn btn-secondary px-4">Retour à la liste</a>
    
        {{ include('admin/order/_delete_form.html.twig') }}
    </div>
</section>
    
{% endblock %}
