{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="login" id="login">
    <div class="container">
      {% for message in app.flashes('success') %}
          <div class="alert alert-success">
              {{message}}
          </div>
      {% endfor %}

      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black shadow">
            <div class="row ">
              <div class="col-lg-6">
                <div class="card-body">
                  <div class="text-center">
                    <h4 class="mt-1 mb-5 pb-1">Connectez-vous</h4>
                  </div>
                  <div>
                    {{form_start(form)}}
                      {% if error %}
                          <div class="alert alert-danger">Le nom d'utilisateur ou le mot de passe n'est pas valide</div>
                      {% endif %}
                      
                      <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="border-right: none; border-radius: 0.2rem 0 0 0.2rem; background-color: #fff;">
                                <i class="fas fa-envelope" style="height: 24px; padding-top: 5px;"></i>
                            </span>
                        </div>
                    {{form_widget(form.email)}}
                    </div>

                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="border-right: none; border-radius: 0.2rem 0 0 0.2rem; background-color: #fff;">
                                <i class="fas fa-lock" style="height: 24px; padding-top: 5px;"></i>
                            </span>
                        </div>
                    
                        {{form_widget(form.password)}}
                        
                    </div>
                      
                      <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}">

                      <div class="text-center pt-1 mb-4 pb-1">
                        <button class=" btn btn-primary mb-4 mt-4" type="submit" style="width: 100%;">
                            Connecter
                        </button><br/>
                        <a class="text-muted" href="#">Mot de passe oublié</a>
                      </div>

                      <div class="d-flex flex-wrap align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2 compte">Vous n'avez pas encore un compte</p>
                          <a style="font-size: 13px;" href="{{path('app_register')}}" class="btn btn-outline-primary"> Nouveau compte </a>
                        </div>
                    {{form_end(form)}}
                  </div>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4"> Nous sommes l'équipe de la vente de voiture </h4>
                  <p class="small mb-0">
                    Dynamique et passionnée, notre équipe dédiée à la vente de voitures est animée 
                    par une seule mission : satisfaire vos besoins automobiles avec expertise et dévouement. 
                    Forts d'une expérience approfondie dans le domaine, nous mettons tout en œuvre pour 
                    vous offrir une expérience d'achat exceptionnelle. Que vous recherchiez un modèle classique, 
                    une voiture de luxe ou une option plus écologique, nous sommes là pour vous guider à chaque étape. 
                    Faites confiance à notre équipe passionnée pour transformer vos rêves de conduite en réalité.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
