<nav class="d-none d-md-block bg-light sidebar">
    <h4 class="pt-4 pb-2 px-2">Vente de voitures</h2>
    <hr>
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="fas fa-chart-bar mx-2"></i> Tableau de bord
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_color_index')}}">
                    <i class="fas fa-heart mx-2"></i> Couleurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_order_admin')}}">
                    <i class="fas fa-shopping-cart mx-2"></i> Commandes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_supplier_index')}}">
                    <i class="fas fa-users mx-2"></i> Fournisseurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_category_index')}}">
                    <i class="fas fa-car-side mx-2"></i> Genre
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_brand_index')}}">
                    <i class="fas fa-users mx-2"></i> Marques
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_product_index')}}">
                    <i class="fas fa-car mx-2"></i> Produits
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_carrier_index')}}">
                    <i class="fas fa-car mx-2"></i> Transporteurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_type_index')}}">
                    <i class="fas fa-car mx-2"></i> Types
                </a>
            </li>
            </li>
        </ul>
    </div>
</nav>