<nav class="d-none d-md-block bg-light sidebar">
    <h2>Vente de voitures</h2>
    <hr>
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <i class="fas fa-chart-bar"></i> Tableau de bord
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_order_admin')}}">
                    <i class="fas fa-shopping-cart"></i> Commandes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_supplier_index')}}">
                    <i class="fas fa-users"></i> Fournisseurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_category_index')}}">
                    <i class="fas fa-car-side"></i> Genre
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_brand_index')}}">
                    <i class="fas fa-users"></i> Marques
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_product_index')}}">
                    <i class="fas fa-car"></i> Produits
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_carrier_index')}}">
                    <i class="fas fa-car"></i> Transporteurs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_type_index')}}">
                    <i class="fas fa-car"></i> Types
                </a>
            </li>
            </li>
        </ul>
    </div>
</nav>