{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-register">{{ button_label|default('ENregistrer') }}</button>
    <a href="{{ path('app_supplier_index') }}" class="btn btn-secondary">Retour à la liste</a>
{{ form_end(form) }}
