{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-register px-4 mt-4">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('app_category_index') }}" class="mt-4 btn btn-secondary px-4">Retour à la liste</a>

{{ form_end(form) }}
