{% block _product_productDetails_widget %}

    <p>Vous pouvez ajoutes les détails de votre produit ici</p>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button class="btn btn-primary mt-3 mb-4 btn-collection px-4" id="add-product-details" type="button"> Ajouter Détail du produit </button>
    </div>
    
{% endblock %}

{% block _product_productDetails_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _product_productDetails_entry_widget %}
    <div class="form-group mt-3" id="block_{{id}}">
        <div class="row">
           
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <label for="" class="mb-2">Marque</label>
                        {{form_widget(form.brand)}}
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <label for="" class="mb-2">Type</label>
                        {{form_widget(form.type)}}
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <label for="" class="mb-2">Genre</label>
                        {{form_widget(form.category)}}
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <label for="" class="mb-2">Quantité</label>
                        {{form_widget(form.quantity)}}
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <label for="" class="mb-2">Prix</label>
                        {{form_widget(form.price)}}
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <label for="" class="mb-2">Image</label>
                        {{form_widget(form.imageFile)}}
                    </div>
                </div>
                <div>
                    <label for="" class="mb-2">Description</label>
                        {{form_widget(form.description)}}
                </div>
                
            </div>
            <div class="col-lg-2">
                <button class="btn btn-danger" type="button" data-action="delete" data-target="#block_{{id}}">X</button>
            </div>
        </div>
    </div>
        
{% endblock %}

