{{ form_start(form) }}

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label for="" class="mb-2">Titre</label>
                {{form_widget(form.title)}}
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label for="" class="mb-2">Marque</label>
                {{form_widget(form.brand)}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label for="" class="mb-2">Type</label>
                {{form_widget(form.type)}}
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label for="" class="mb-2">Genre</label>
                {{form_widget(form.category)}}
            </div>
        </div>
    </div>

    {% if app.request.attributes.get('_route') == 'app_product_new' %}
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label for="" class="mb-2">Quantité(s)</label>
                {{form_widget(form.quantity)}}
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label for="" class="mb-2">Prix</label>
                {{form_widget(form.price)}}
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label for="" class="mb-2">Image</label>
                {{form_widget(form.imageFile)}}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label for="" class="mb-2">Quantité(s)</label>
                {{form_widget(form.quantity)}}
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group mb-3">
                <label for="" class="mb-2">Prix</label>
                {{form_widget(form.price)}}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="form-group mb-3">
        <label for="" class="mb-2">Description</label>
        {{form_widget(form.description)}}
    </div>

    <button class="btn btn-primary px-4 btn-register mt-4">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('app_product_index') }}" class="mt-4 btn btn-secondary px-4">Retour à la liste</a>

{{ form_end(form) }}
